# Telegram Bot Token from @BotFather
BOT_TOKEN=your_bot_token_here

# Admins: comma-separated list of numeric Telegram User IDs or usernames (without @)
ADMIN_USERS=alirezaaghdasii

# Allowed Users: comma-separated list of numeric Telegram User IDs or usernames
ALLOWED_USERS=alirezaaghdasii

# Port for dummy web server (Render)
PORT=10000
